#calculator{
    font-family: Arial, sans-serif;
    background-color:  hsl(0, 0%, 15%);
    border:10px solid hsl(35,100%,60%);
    max-width: 500px;
    overflow: hidden;
    }
    #keys{
    grid-template-columns: repeat (4, 1fr);
    gap: 10px;
    padding: 25px;
    }
    
    body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color:  hsl(0, 0%, 95%);
    }
    
    #display{
    width: 100%;
    padding: 20px;
    font-size: 5rem;
    text-align: left;
    border: 3px solid white;
    background-color:  hsl(0, 0%, 20%);
    color:white;
    }
    button{
    width: 100px;
    height: 100px;
  
    border: 2px solid black;
    background-color: ☐ hsl(0, 0%, 30%);
    color: rgb(90, 90, 90);
    font-size: 3rem;
    font-weight: bold;
    cursor: pointer;
    }
    
    button:hover{
    background-color:  hsl(0, 0%, 40%);
    color:white;
    }
    button :active{
    background-color:  hsl(0, 0%, 50%);
    }
    .operator{
    background-color: hsl(35,100%,55%);
    }
    .operator:hover{
    background-color: hsl(35,100%,60%);
    }
    .operator:active{
    background-color: hsl(35,100%,70%);
    }